body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e3dfd2;
}
svg {
  background-size: contain;
  width: 80vmin;
  height: auto;
  display: block;
}
text {
  font-size: 8px;
  transition: all 0.4s ease-out;
  font-weight: 900;
  font-family: arial;

  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
svg:hover text {
  transition: all 0.4s ease-in;
  font-size: 400px;
  transform: translate(0, 25px);
  -webkit-transform: translate(0, 25px);
}
